/* Basic Styles */

body {
	text-align: center;
	background: #fafafa;
	line-height: 1.4;
	font-family: 'Tajawal', Arial, sans-serif;
	color: #666;
	font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #444;
}

h1 {
	margin: 0;
	font-size: 1.5rem;
}

h2 {
	margin-bottom: 2.5rem;
	font-size: 1rem;
	text-transform: uppercase;
}

h3 {
	font-weight: normal;
}

a {
	color: #000;
	text-decoration: none;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}

address a {
	font-weight: bold;
}

header,
section {
	padding: 1rem;
}

nav ul,
address ul {
	padding-left: 0;
	list-style-type: none;
}

/* Main Navigation */

nav {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: .9rem;
	text-transform: uppercase;
	font-weight: bold;
}

nav li {
	margin-bottom: .3rem;
}

nav a {
	display: block;
	padding: .75rem 0;
	background: #fff;
}

/* Intro */

#intro img {
	max-width: 75%;
}

/* Portfolio */

#portfolio {
	padding: 2rem 1rem;
	background: #fff;
}

#portfolio article {
	margin-bottom: 2rem;
}

/* Contact */

#contact {
	padding: 2rem 1rem;
}

#contact h2 {
	margin-bottom: 1rem;
}

#contact a {
	color: #888;
}

/* Footer */

footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-top: 1px solid #ddd;
	padding: 1rem;
	text-align: left;
}

footer h6 {
	margin: 0;
	font-size: 1rem;
}

footer a {
	grid-column-start: 3;
	grid-column-end: 4;
	margin-top: 2px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: .85rem;
	text-transform: uppercase;
	font-weight: bold;
}



/* Media Queries */

@media screen and (min-width: 768px) {



}

@media screen and (min-width: 1024px) {



}