/* Basic Styles */

body {
	text-align: center;
	background: #fafafa;
	line-height: 1.4;
	font-family: 'Tajawal', Arial, sans-serif;
	color: #666;
	font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #444;
}

h1 {
	margin: 0;
	font-size: 1.5rem;
}

h2 {
	margin-bottom: 2.5rem;
	font-size: 1rem;
	text-transform: uppercase;
}

h3 {
	font-weight: normal;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	opacity: .4;
}

a, a:hover {
	transition: .4s;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}

address a {
	font-weight: bold;
}

header,
section {
	padding: 1rem;
}

nav ul,
address ul {
	padding-left: 0;
	list-style-type: none;
}

/* Main Navigation */

#main-nav {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: .9rem;
	text-transform: uppercase;
	font-weight: bold;
}

#main-nav li {
	margin-bottom: .3rem;
}

#main-nav a {
	display: block;
	padding: .75rem 0;
	background: #fff;
}

/* Intro */

#intro #profile-pic {
	max-width: 75%;
}

/* Portfolio */

#portfolio {
	padding: 2rem 1rem;
	background: #fff;
}

#portfolio article {
	margin-bottom: 2rem;
}

/* Skills */

#skills {
	background: #fff;
}

#skills ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .3rem;
	padding-left: 0;
	text-align: center;
	list-style-type: none;
}

#skills li {
	display: block;
	padding: 1rem;
	background: #fafafa;
}

/* Contact */

#contact {
	padding: 2rem 1rem;
}

#contact h2 {
	margin-bottom: 1rem;
}

#contact a {
	color: #888;
}

/* Footer */

footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-top: 1px solid #ddd;
	padding: 1rem;
	text-align: left;
}

footer h6 {
	margin: 0;
	font-size: 1rem;
}

footer a {
	grid-column-start: 3;
	grid-column-end: 4;
	margin-top: 2px;
	text-align: right;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: .85rem;
	text-transform: uppercase;
	font-weight: bold;
}

#footer-nav {
	display: none;
}



/* Media Queries */

@media screen and (min-width: 768px) {

	/* General Styles */

	header,
	section {
		padding: 2rem;
	}

	#intro #intro-text,
	#contact {
		font-size: 1.3rem;
	}

	/* Main Navigation */

	#main-nav li {
		display: inline-block;
	}

	#main-nav li a {
		padding: 1rem;
		background: none;
	}

	/* Intro */

	#intro {
		display: grid;
		grid-template-columns: 3fr 2fr;
		padding-top: 0;
	}

	#intro #intro-text {
		order: 1;
		margin: 0 1rem 0 0;
		text-align: left;
	}

	#intro #profile-picture {
		order: 2;
	}

	/* Portfolio */

	#portfolio {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: .75rem;
	}

	#portfolio h2 {
		grid-column-start: 1;
		grid-column-end: 3;
		margin-bottom: 2rem;
	}

	#portfolio article p {
		padding: 0 1rem;
	}

	/* Contact */

	#contact {
		padding: 2rem 10rem;
	}

	/* Footer */

	footer {
		grid-template-columns: 1fr 1fr 2fr;
		padding: 1.5rem;
	}

	#footer-nav {
		display: initial;
		grid-column-start: 3;
		grid-column-end: 4;
		text-align: right;
	}

	#footer-nav ul {
		margin: 0;
	}

	#footer-nav li {
		display: inline-block;
		margin-left: 2rem;
	}

	.back-to-top {
		display: none;
	}

}

@media screen and (min-width: 1024px) {

	/* General Styles */

	#intro #intro-text,
	#contact {
		font-size: 1.5rem;
	}

	/* Header */

	header {
		display: flex;
	}

	header ul,
	#main-nav li,
	#main-nav li a {
		margin: 0;
		padding: 0;
	}

	#main-nav {
		margin-left: auto;
		padding: .5rem 0;
	}

	#main-nav li {
		margin-left: 2rem;
	}

	/* Intro */

	#intro {
		grid-template-columns: 3fr 2fr;
	}

	#profile-picture {
		margin-left: auto;
	}

	/* Portfolio */

	#portfolio {
		grid-template-columns: repeat(3, 1fr);
	}

	#portfolio h2 {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	/* Skills */

	#skills ul {
		grid-template-columns: repeat(3, 1fr)
	}

	/* Contact */

	#contact {
		padding: 2rem 12rem;
	}

}